@model IdentityProject.Models.Vehicle.Variant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Variant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ex_ShowroomPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ex_ShowroomPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.On_Road_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.On_Road_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engine_DisplacementCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engine_DisplacementCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engine_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engine_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_Of_Cylinder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_Of_Cylinder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Power)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Power)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Torque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Torque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Front_Brake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Front_Brake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rear_Brake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rear_Brake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuel_Tank_Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel_Tank_Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emi_Starts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emi_Starts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cooling_System)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cooling_System)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valve_Per_Cylinder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valve_Per_Cylinder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drive_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drive_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ignition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ignition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuel_Supply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel_Supply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clutch_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clutch_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engine_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engine_Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gear_Box)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gear_Box)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stroke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stroke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emission_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emission_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ABS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Console)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Console)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quick_Shifter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quick_Shifter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Additional_Features)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additional_Features)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stepup_Seat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stepup_Seat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat_Height_mm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat_Height_mm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maximum_Height_mm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maximum_Height_mm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maximum_Length_mm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maximum_Length_mm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Side_View_Mirror)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Side_View_Mirror)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Side_View_Mirror_Width_mm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Side_View_Mirror_Width_mm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger_Footrest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger_Footrest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chassis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chassis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Front_Suspension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Front_Suspension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rear_Suspention)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rear_Suspention)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body_Graphics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body_Graphics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saddle_Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saddle_Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ground_Clearance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ground_Clearance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wheelbase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wheelbase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dry_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dry_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Headlight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headlight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tail_Light)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tail_Light)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turn_Signal_Lamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turn_Signal_Lamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Led_Tail_Lights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Led_Tail_Lights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Front_Tyre_Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Front_Tyre_Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rear_Tyre_Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rear_Tyre_Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tyre_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tyre_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Front_Wheel_Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Front_Wheel_Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rear_Wheel_Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rear_Wheel_Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wheel_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wheel_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Front_Brake_Diameter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Front_Brake_Diameter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rear_Brake_Diameter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rear_Brake_Diameter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kerb_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kerb_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Front_Track)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Front_Track)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rear_Track)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rear_Track)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minimum_Turning_Radius)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minimum_Turning_Radius)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_Of_Doors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_Of_Doors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat_Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat_Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_Gears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_Gears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage_Highway)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage_Highway)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Steering_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Steering_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acceleration_From_0_to_100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acceleration_From_0_to_100)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acceleration_From_0_to_60)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acceleration_From_0_to_60)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Popularity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
